---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <h5>
        	{{post.excerpt}}
        </h5>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  <ul class="post-list">

	{% for page in site.pages %}
	  {% if page.categories contains 'plots_and_graphics' %}
	    <div class="item">
	      <h3>{{page.title}}</h3>
	      <p>{{page.description}}</p>  
	    </div>
	  {% endif %}
	{% endfor %}
  
  </ul>
  
  <ul class="post-list">

	{% for page in site.pages %}
	  {% if page.categories contains 'R_Programming' %}
	    <div class="item">
	      <h3>{{page.title}}</h3>
	      <p>{{page.description}}</p>  
	    </div>
	  {% endif %}
	{% endfor %}
  
  </ul>


</div>



