---
layout: page
title: R Scripts and Reference
permalink: /rscripts/
resource: false
---

<div class="home">
<p><h5>
Usually I produce these guides because I don't understand how to do something in R and want to learn, or because I'll need a reference later. 
A good chunk of this has been somewhat shamelessly ripped off of the Data Science courses on Coursera from JHU.
</h5>
</p>
	{% for cat in site.category-list %}
		{{ cat }}
			<ul>
				{% for page in site.pages %}
					{% if page.resource == true %}
						{% for pc in page.categories %}
							{% if pc == cat %}
								<li>
						  			<a href="{{ page.url }}">{{ page.title }}</a> <h6>&mdash; {{ page.desc }} </h6>
								</li>
							{% endif %} <!-- cat-match-p -->
						{% endfor %} <!-- page-category -->
					{% endif %} <!-- resource-p -->
				{% endfor %} <!-- page -->
			</ul>
		{% endfor %} <!-- cat -->

</div>
